.bg-green-old{
    background: #127C70;
}
.bg-teal{
    background: #2fc4b1;
}
btn-info{
    background: #2fc4b1;
    color: #fff;
}
.header-content{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}
.header-content-total-rpd{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
}
.content-header-title{
    font-size: 2rem;
    color: #FFF;
}
.header-search-content{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;   
}
.content-header-p{
    color: #FFF;
    font-family: "poppins";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
}
.content-display{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding: 3rem;
    margin: 0.5rem;
}
.header-month, .header-year{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.left, .right{
    width: 80px;
    height: 30px;
    border-radius: 8px;
    background: #2fc4b1;
    color: #fff;
    font-family: poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.28px;
    cursor: pointer;
    border: none;
    transition: all 0.4s ease-in-out;
}
.page-number{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    background: #2fc4b1;
    color: #fff;
    font-family: poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.28px;
    text-align: center;
    border: none;
}
.text-month-search, .text-year-search{
    color: #FFF;
    font-family: "poppins";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
}
.content-title{
    color: #FFF;
    font-family: "poppins";
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
}
table{
    color: #fff;
}
.B-update{
    color: #ffffff;
    cursor: pointer;
    background: none;
    border: none;
    text-align: center;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.28px;
    transition: all 0.4s ease-in-out;
}
.B-update:hover{
    color: #D30ED8;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}
.B-deleted{
    color: #ffffff;
    cursor: pointer;
    background: none;
    border: none;
    text-align: center;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.28px;
    transition: all 0.4s ease-in-out;
}
.B-deleted:hover{
    color: #d60924;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}
.btn-download {
    transition: all 0.4s ease-in-out;
    transform: scale(1.0);
}
.btn-download:hover {
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}
.table-spaced th,
.table-spaced td {
    padding: 1px 5px;
    border: 1px solid #fff;
}
.no-data-p{
    color: #FFF;
    font-family: "poppins";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
}
.Special-text{
    background: #2fc4b1;
    color: #FFF;
    font-family: "poppins";
    font-size: 1.0rem;
    font-style: normal;
    font-weight: 600;
}
.input-lv3{
    width: 300px;
    height: 30px;
}
.ecorner-filter-content{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
}
.ecorner-filter{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.ecorner-filter-input{
    max-width: 100%
}
@media only screen and (max-width: 480px) {
    .left, .right {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background: #2fc4b1;
        color: #fff;
        font-family: poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -.28px;
        cursor: pointer;
        border: none;
        transition: all 0.4s ease-in-out;
    }
    .content-header-title{        
        font-size: 1.15rem;
        color: #FFF;
    }
    .page-number{
        width: 30px;
        height: 30px;
        border-radius: 8px;
        background: #2fc4b1;
        color: #fff;
        font-family: poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: -.28px;
        text-align: center;
        border: none;
    }
    .content-display{
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        padding: 1rem;
        margin: 0.5rem;
    }
    .content-header-p{
        color: #FFF;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        margin-top: -3rem;
    }
    .header-content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
    }    
    .header-search-content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: center;    
    }
    .content-title{
        color: #FFF;
        font-family: "poppins";
        font-size: 1.0rem;
        font-style: normal;
        font-weight: 700;
    }
    .table-spaced {
        border-collapse: separate;
        border-spacing: 10px;  /* gap antar cells */
    }
    table {
        width: 100%;
        font-size: 12px;
        overflow-x: auto;
        display: block;
        color: #fff;
        overflow-x: auto;
        display: block;
    }
    .Special-text{
        background: #2fc4b1;
        color: #FFF;
        font-family: "poppins";
        font-size: 1.0rem;
        font-style: normal;
        font-weight: 500;
    }
    .input-lv3{
        width: 100px;
        height: 25px;
        font-size: 1rem;
    }
    .ecorner-filter-content{
        display: flex;
        flex-direction: column;
        gap: 15px;
        justify-content: space-between;
    }
    .ecorner-filter{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .ecorner-filter-input{
        max-width: 70%
    }
}
/* .main-dashboard{
    width: 1610px;
    height: auto;
    flex-shrink: 0;
    overflow-y: auto;
    background: #3accb6;
} */
/* .main-dashboard p{
    color: #FFF;
    font-family: "segoe ui";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    margin-left: 33px;
    margin-top: 65px;
}
.main-dashboard .load-cuti{
    width: 100px;
    height: 100px;
    border: 20px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }
    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.main-dashboard h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: -0.68px;
    margin-left: 30px;
    margin-top: 5px;
}
.main-dashboard .content-col{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    overflow-y: auto;
    padding-bottom: 20px;
}
.main-dashboard .content-col .box-m .tab-container{
    width: 100%;
    margin-bottom: 20px;
}
.main-dashboard .content-col .box-m .tab-container .tab-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 ;
    border-bottom: 2px solid #127C70;
}
.main-dashboard .content-col .box-m .tab-container .tab-list .tab-item{
    padding: 10px 20px;
    cursor: pointer;
    font-family: "poppins";
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s ease;
}
.main-dashboard .content-col .box-m .tab-container .tab-list .tab-item:hover{
    color: #F9BA0D;
}
.main-dashboard .content-col .box-m .tab-container .tab-list .tab-item.active{
    border-bottom: 3px solid #F9BA0D;
    color: #F9BA0D;
    font-weight: 700;
}

.main-dashboard .content-col .box-m .content{
    display: flex;
    width: 1183px;
    height: auto;
    padding-bottom: 45px;
    flex-shrink: 0;    
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background: #127C70;
    margin-top: 20px;
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.main-dashboard .content-col .box-m .content .pagination{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;

}
.main-dashboard .content-col .box-m .content .search{
    display: flex;
    width: 1059px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-bottom: 20px;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
    gap: 15px;
    margin-top: 10px;
}
.main-dashboard .content-col .box-m .content .search select{
    width: 10rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius: 10px;
    background: #fff;
    color: #2FC4B1;
    font-family: poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    padding-left: 35px;
}
.main-dashboard .content-col .box-m .content .search .btn-download{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background: #fff;
    font-family: poppins;
    font-size: 16px;
    color: #2FC4B1;
    border-color: #fff;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.main-dashboard .content-col .box-m .content .pagination .left,
.main-dashboard .content-col .box-m .content .pagination .right{
    width: 80px;
    height: 30px;
    border-radius: 8px;
    background: #2fc4b1;
    color: #fff;
    font-family: poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.28px;
    cursor: pointer;
    border: none;
    transition: all 0.4s ease-in-out;
}
.main-dashboard .content-col .box-m .content .pagination .left:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
.main-dashboard .content-col .box-m .content .pagination .right:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
.main-dashboard .content-col .box-m .content .pagination .page-number{
    width: 40px;
    height: 30px;
    border-radius: 8px;
    background: #2fc4b1;
    color: #fff;
    font-family: poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.28px;
    text-align: center;
    border: none;
}
.main-dashboard .content-col .box-m .content form select{
    width: auto;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #2FC4B1;
    font-family: poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.24px;
    padding-left: 35px;
    margin-left: 35px;
}
.main-dashboard .content-col .box-m .content form label {
    color: #F9BA0D;
    font-family: poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.24px;
    margin-bottom: 15px;
    margin-left: 38px;
    width: 230px;
}
.main-dashboard .content-col .box-m .content form input{
    width: 175px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #2FC4B1;
    font-family: poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.24px;
    padding-left: 35px;
    margin-left: 35px;
}
.main-dashboard .content-col .box-m .content form .date{
    width: auto;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #2FC4B1;
    font-family: poppins;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -.24px;
    padding-left: 35px;
    margin-left: 35px;
}
.main-dashboard .content-col .box-m .content form .cari{
    padding: 9px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #d30ed8;
    width: auto;
    height: 50px;
    color: #fff;
    font-family: poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -.32px;
    margin-top: 26px;
}
.main-dashboard .content-col .box-m .content form .active{
    padding: 9px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #29AB87;
    width: auto;
    height: 50px;
    color: #fff;
    font-family: poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -.32px;
    margin-top: 26px;
}
.main-dashboard .content-col .box-m .content form .reset{
    padding: 9px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #BF1A45;
    width: auto;
    height: 50px;
    color: #fff;
    font-family: poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -.32px;
    margin-top: 26px;
}
.main-dashboard .content-col .box-m .content .tab-identity{
    display: flex;
    max-width: 100%;
    flex-shrink: 0;    
    flex-direction: row;
    background: #2FC4B1;
}
.main-dashboard .content-col .box-m .content .tab-identity .identity-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 ;
    border-bottom: 2px solid #2FC4B1;
    gap: 65px;
}
.main-dashboard .content-col .box-m .content .tab-identity .identity-list .identity-item{
    padding: 10px 20px;
    cursor: pointer;
    font-family: "poppins";
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s ease;
}
.main-dashboard .content-col .box-m .content .tab-identity .identity-list .identity-item:hover{
    color: #F9BA0D;
}
.main-dashboard .content-col .box-m .content .tab-identity .identity-list .identity-item.active{
    border-bottom: 3px solid #F9BA0D;
    color: #F9BA0D;
    font-weight: 700;
}
.main-dashboard .content-col .box-m .content h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin-top: 30px;
}
.main-dashboard .content-col .box-m .content table{
    width:1183px;
    margin-left: 20px;
}
.main-dashboard .content-col .box-m .content table tr{
    gap: 10px;
    width: 1183px;
    padding-left: 10px;
    text-align: center;
}
.main-dashboard .content-col .box-m .content table tr th{
    color: #f9ba0d;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.28px;
    width: 216px;
    gap: 10px;
}
.main-dashboard .content-col .box-m .content table tr td .B-update{
    color: #ffffff;
    cursor: pointer;
    background: none;
    border: none;
    text-align: center;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.28px;
    transition: all 0.4s ease-in-out;
}
.main-dashboard .content-col .box-m .content table tr td .B-update:hover{
    color: #D30ED8;
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}
.main-dashboard .content-col .box-m .content .search{
    display: flex;
    width: 1059px;
    flex-shrink: 0;
    border-radius: 16px;
    margin-bottom: 20px;
    color: #FFF;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
    padding-left: 35px;
    gap: 15px;
    align-items: center;
    10px
}
.main-dashboard .content-col .box-m .content .search input{
    width: 175px;
    font-family: poppins;
    font-size: 17px;
    background: #fff;
    color: #2FC4B1;
    border-radius: 11px;
    border-color: #fff;
    padding-left: 16px;
    font-weight: 500;
}
.main-dashboard .content-col .box-m .content .search .btn-search{
    width: 100px;
    height: 50px;
    border-radius: 16px;
    background: #D30ED8;
    font-family: poppins;
    font-size: 16px;
    color: white;
    border-color: #D30ED8;
    transition: all 0.4s ease-in-out;
    margin-left: 236px;
}
.main-dashboard .content-col .box-m .content .search .btn-reset{
    width: 100px;
    height: 50px;
    border-radius: 16px;
    background: #d60924;
    font-family: poppins;
    font-size: 16px;
    color: white;
    border-color: #d60924;
    transition: all 0.4s ease-in-out;
}
.main-dashboard .content-col .box-m .content .table-p{
    color: #FFF;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.28px;
    text-align: center;
    padding-left: 400px;
}
.main-dashboard .content-col .box-m .content .search .btn-search:hover{
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}
.main-dashboard .content-col .box-m .content .search .btn-reset:hover{
    transition: all 0.4s ease-in-out;
    transform: scale(1.1);
}
.main-dashboard .content-col .box-m .content table tr td{
    color: #FFF;
    text-align: center;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.28px;
}
.main-dashboard .content-col .box-m .content table tr td img{
    margin-right: 4px;
    vertical-align: middle;
}
.main-dashboard .content-col .box-m .content table tr td a{
    text-decoration: none;
    color: #FFF;
}
.main-dashboard .content-col .box-m .content-f{
    display: flex;
    width: 1212px;
    height: 400px;
    flex-shrink: 0;    
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background: #000B48;
    margin-top: 20px;
}
.main-dashboard .content-col .box-m .content-f h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.main-dashboard .content-col .box-m .content-f{
    display: flex;
    flex-direction: column;
    margin-left: 29px;
}
.main-dashboard .content-col .box-m .content-f label{
    color: #A3AED0;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
    margin-bottom: 15px;
    margin-left: 38px;
}
.main-dashboard .content-col .box-m .content-f input{
    width: 1059px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #001274;
    margin-bottom: 20px;
    color: #FFF;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
}
.main-dashboard .content-col .box-m .content-f select{
    width: 1059px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #001274;
    margin-bottom: 20px;
    color: #FFF;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
}
.main-dashboard .content-col .box-m .content-tx{
    display: flex;
    width: 1212px;
    height: 400px;
    flex-shrink: 0;    
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background: #000B48;
    margin-top: 20px;
    margin-left: 20px;
}
.main-dashboard .content-col .box-m .content-tx h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.main-dashboard .content-col .box-m .content-tx textarea{
    width: 1059px;
    height: 255px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #001274;
    margin-bottom: 20px;
    color: #FFF;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
    padding-top: 15px;
}
.main-dashboard .content-col .box-m .content-ty{
    display: flex;
    width: 1212px;
    height: 470px;
    flex-shrink: 0;    
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background: #000B48;
    margin-top: 20px;
    margin-left: 20px;
    gap: 25px;
}
.main-dashboard .content-col .box-m .content-ty h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.48px;
    margin-top: 30px;
}
.main-dashboard .content-col .box-m .content-ty .check{
    display: flex;
    flex-direction: row;
    width: 1153px;
    gap: 10px;
}
.main-dashboard .content-col .box-m .content-ty .check input[type="checkbox"]{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 16px;
    background-color: #001274;
    margin-left: 28px;
    margin-top: 12px;
}
.main-dashboard .content-col .box-m .content-ty .check label{
    display: flex;
    width: 1025px;
    height: 46px;
    padding-left: 20px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: #001274;
    color: #FFF;
    font-family: "poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.32px;
}
.main-dashboard .content-col .box-m .submit{
    display: flex;
    padding: 9px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #D30ED8;
    width: 168px;
    height: 50px;
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: -0.32px;
    margin-top: 26px;
    margin-left: 521px;
}
@media only screen and (max-width: 480px) {
    .main-dashboard{
        max-width: 480px;
        height: auto;
        flex-shrink: 0;
        overflow-y: auto;
        background: #3accb6;
    }
    .main-dashboard .profile{
        display: none;
    }
    .main-dashboard h1 {
        color: #FFF;
        font-family: "poppins";
        font-size: 29px;
        font-style: normal;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: -0.68px;
        margin-left: 30px;
        margin-top: 5px;
    }
    .main-dashboard .content-col {
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex-shrink: 0;
        overflow-y: auto;
        padding-bottom: 20px;
    }
    .main-dashboard .content-col .box-m {
        max-width: 480px;
    }
    .main-dashboard .content-col .box-m .content {
        display: flex;
        max-width: 405px;
        height: auto;
        padding-bottom: 45px;
        flex-shrink: 0;
        flex-direction: column;
        align-items: flex-start;
        flex-shrink: 0;
        border-radius: 20px;
        background: #127C70;
        margin-top: 20px;
        margin-left: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .main-dashboard .content-col .box-m .content h1 {
        color: #FFF;
        font-family: "poppins";
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.48px;
        margin-top: 30px;
        margin-left: 5px;
    }
    .main-dashboard .content-col .box-m .content .table-p{
        color: #FFF;
        font-family: "poppins";
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.28px;
        text-align: center;
        padding-left: 100px;
    }
    .main-dashboard .content-col .box-m .content table{
        width: 600px;
        margin-left: 0px;
    }
} */