.dashboard{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    background: #3accb6;
    overflow-y: auto;
}
.dashboard .content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
}
.dashboard .content .switch{
    align-self: center;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #F9BA0D;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}