.bg-green-old{
    background: #127C70;
}
.footer{
    margin-top: 4px;
}
.footer-bg{
    background: url(/src/assets/Asset-4.webp) center center / cover no-repeat;
    height: 100vh;
    background-size: contain;
    transition: all 0.4s ease-in-out;
    position: relative;
}
.footer-info2 {
    position: absolute;
    left: 50%;
    bottom: 300px; /* sesuaikan jarak dari bawah */
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px; /* jarak antar ikon */
}

@media only screen and (max-width: 480px) {
    .footer-icon {
        width: 25px; /* ukuran ikon */
        height: 25px; /* ukuran ikon */
    }
    .footer-info2 {
        bottom: 70px; /* sesuaikan jarak dari bawah */
    }
    .footer-bg{
        height: 30vh;
    }
}
@media only screen and (max-width: 375px) {
    .footer-icon {
        width: 21px; /* ukuran ikon */
        height: 20px; /* ukuran ikon */
    }
    .footer-info2 {
        bottom: 75px; /* sesuaikan jarak dari bawah */
    }
    .footer-bg{
        height: 30vh;
    }
}