.main-dashboard{
    width: auto;
    height: 2500px;
    flex-shrink: 0;
    overflow-y: auto;
}
.main-dashboard .load-cuti{
    width: 100px;
    height: 100px;
    border: 20px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.main-dashboard p{
    color: #FFF;
    font-family: "poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    margin-left: 33px;
    margin-top: 65px;
}
.main-dashboard h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 123.529% */
    letter-spacing: -0.68px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.main-dashboard .content-col{
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
    overflow-y: auto;
}
.main-dashboard .content-col .box1 .content{
    display: flex;
    width: 1610px;
    height: 345px;
    padding: 0px 20px;
    align-items: center;
    gap: 19px;
    flex-shrink: 0;
}
.main-dashboard .content-col .box1 .content{
    display: flex;
    width: 1183px;
    height: 311px;
    flex-shrink: 0;    
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background: #000B48;
    margin-top: 20px;
    margin-left: 20px;
}
.main-dashboard .content-col .box1 .content h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin-top: 30px;
}
.main-dashboard .content-col .box1 .content table{
    width:1183px;
    margin-left: 20px;
}
.main-dashboard .content-col .box1 .content table tr{
    gap: 10px;
    width: 1183px;
    padding-left: 10px;
    text-align: center;
}
.main-dashboard .content-col .box1 .content table tr th{
    color: #A3AED0;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.28px;
    width: 216px;
    gap: 10px;
}
.main-dashboard .content-col .box1 .content table tr td{
    color: #FFF;
    text-align: center;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.28px;
}
.main-dashboard .content-col .box1 .content table tr td img{
    margin-right: 4px;
    vertical-align: middle;
}
.main-dashboard .content-col .box1 .content table tr td a{
    text-decoration: none;
    color: #FFF;
}
.main-dashboard .content-col .box1 .content-f{
    display: flex;
    width: 1212px;
    height: auto;
    flex-shrink: 0;    
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background: #127C70;
    margin-top: 20px;
}
.main-dashboard .content-col .box1 .tab-identity{
    display: flex;
    max-width: 100%;
    flex-shrink: 0;    
    flex-direction: row;
    background: #127C70;
    margin-left: 32px;
}
.main-dashboard .content-col .box1 .tab-identity .identity-list{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 ;
    border-bottom: 2px solid #127C70;
    gap: 65px;
}
.main-dashboard .content-col .box1 .tab-identity .identity-list .identity-item{
    padding: 10px 20px;
    cursor: pointer;
    font-family: "poppins";
    font-weight: 500;
    color: #ffffff;
    transition: all 0.3s ease;
}
.main-dashboard .content-col .box1 .tab-identity .identity-list .identity-item:hover{
    color: #F9BA0D;
}
.main-dashboard .content-col .box1 .tab-identity .identity-list .identity-item.active{
    border-bottom: 3px solid #F9BA0D;
    color: #F9BA0D;
    font-weight: 700;
}
.main-dashboard .content-col .box1 .content-f table{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.main-dashboard .content-col .box1 .content-f table .input{
    width: 1059px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #127C70;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
    padding-left: 20px;
}
.main-dashboard .content-col .box1 .content-f table td{
    color: #A3AED0;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    margin-bottom: 15px;
    margin-left: 38px;
    width: 230px;
    padding-left: 20px;
}
.main-dashboard .content-col .box1 .content-f h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.main-dashboard .content-col .box1 .content-f{
    display: flex;
    flex-direction: column;
    margin-left: 29px;
    padding-bottom: 20px;
}
.main-dashboard .content-col .box1 .content-f label{
    color: #F9BA0D;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    margin-bottom: 15px;
    margin-left: 38px;
    width: 230px;
}
.main-dashboard .content-col .box1 .content-f select{
    width: 1059px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #2FC4B1;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;

}
.main-dashboard .content-col .box1 .content table{
    width:1183px;
    margin-left: 20px;
}
.main-dashboard .content-col .box1 .content table tr{
    gap: 10px;
    width: 1183px;
    padding-left: 10px;
    text-align: center;
}
.main-dashboard .content-col .box1 .content table tr th{
    color: #A3AED0;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    text-align: center;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    letter-spacing: -0.28px;
    width: 216px;
    gap: 10px;
}
.main-dashboard .content-col .box1 .content-f input{
    width: 1059px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #127C70;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
}
.main-dashboard .content-col .box1 .content-f .password-bar {
    position: relative;
    width: 363px;
    margin-bottom: 10px;
}
.main-dashboard .content-col .box1 .content-f .password-bar .password-input{
    width: 1059px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #127C70;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
}
.main-dashboard .content-col .box1 .content-f .password-bar .toggle-password {
    position: absolute;
    right: -205%;
    top: 38%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: #000000;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    z-index: 2;
    width: 52px;
}
.main-dashboard .content-col .box1 .content-f .password-bar .toggle-password-2 {
    position: absolute;
    right: -205%;
    top: 38%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 1rem;
    padding: 0;
    margin: 0;
    z-index: 2;
    width: 52px;
}
.main-dashboard .content-col .box1 .content-f textarea{
    width: 1059px;
    height: 255px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #127C70;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
    padding-top: 15px;
}
.main-dashboard .content-col .box1 .content-tx{
    display: flex;
    width: 1212px;
    height: 400px;
    flex-shrink: 0;    
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background: #127C70;
    margin-top: 20px;
    margin-left: 20px;
}
.main-dashboard .content-col .box1 .content-tx h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.main-dashboard .content-col .box1 .content-tx textarea{
    width: 1059px;
    height: 255px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #127C70;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
    padding-top: 15px;
}
.main-dashboard .content-col .box1 .content-ty{
    display: flex;
    width: 1212px;
    height: 470px;
    flex-shrink: 0;    
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background: #000B48;
    margin-top: 20px;
    margin-left: 20px;
    gap: 25px;
}
.main-dashboard .content-col .box1 .content-ty h1{
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin-top: 30px;
}
.main-dashboard .content-col .box1 .content-ty .check{
    display: flex;
    flex-direction: row;
    width: 1153px;
    gap: 10px;
    align-items: flex-start;
}
.main-dashboard .content-col .box1 .content-f .check{
    display: flex;
    flex-direction: row;
    width: 1153px;
    align-items: flex-start;
    margin-top: -15px;
}
.main-dashboard .content-col .box1 .content-f .check-form{
    flex-direction: column;
    width: 1153px;
    align-items: flex-start;
    margin-top: -15px;
}
.main-dashboard .content-col .box1 .content-f .check-form .inp-date{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-dashboard .content-col .box1 .content-f .check-form .inp-date .text{
    color: #A3AED0;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    width: 20px;
}
.main-dashboard .content-col .box1 .content-f .check-form .inp-date input{
    width: 250px;
}
.main-dashboard .content-col .box1 .content-f .check-form label{
    color: #F9BA0D;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    margin-bottom: 15px;
    margin-left: 38px;
    
}
.main-dashboard .content-col .box1 .content-f .check-form input{
    width: 1059px;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #127C70;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
}

.main-dashboard .content-col .box1 .content-f .check input[type="checkbox"]{
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    border-radius: 16px;
    background-color: #001274;
    margin-left: 39px;
    margin-top: 12px;
}

.main-dashboard .content-col .box1 .content-ty .check input[type="checkbox"]{
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    border-radius: 16px;
    background-color: #001274;
    margin-left: 28px;
    margin-top: 12px;
}
.main-dashboard .content-col .box1 .content-f .check label{
    display: flex;
    width: 150px;
    height: 46px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: #127C70;
    color: #fff;
    font-family: "poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    letter-spacing: -0.32px;
}
.main-dashboard .content-col .box1 .content-ty .check label{
    display: flex;
    width: 1025px;
    height: 46px;
    padding-left: 20px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 16px;
    background: #001274;
    color: #fff;
    font-family: "poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 175% */
    letter-spacing: -0.32px;
}
.main-dashboard .content-col .box1 .submit{
    display: flex;
    padding: 9px 17px;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    background: #F9BA0D;
    width: auto;
    height: 50px;
    color: #FFF;
    font-family: "poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 175% */
    letter-spacing: -0.32px;
    margin-top: 26px;
    margin-left: 521px;
}
.main-dashboard .content-col .box1 .loader {
    width: 100px;
    height: 100px;
    border: 20px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.main-dashboard .content-col .box1 .content-f table {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}
.main-dashboard .content-col .box1 .content-f table .barang-bar {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.main-dashboard .content-col .box1 .content-f table .barang-bar .barang-no {
    color: #F9BA0D;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    width: 10%;
}
.main-dashboard .content-col .box1 .content-f table .barang-bar .barang-jenis {
    color: #F9BA0D;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    width: 50%;
}
.main-dashboard .content-col .box1 .content-f table .barang-bar .barang-jenis input{
    width: 50%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #127C70;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
}
.main-dashboard .content-col .box1 .content-f table .barang-bar .barang-jumlah {
    color: #F9BA0D;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    width: 30%;
}
.main-dashboard .content-col .box1 .content-f table .barang-bar .barang-jumlah input{
    width: 30%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #127C70;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
}
.main-dashboard .content-col .box1 .content-f table .barang-bar .barang-satuan {
    color: #F9BA0D;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    width: 30%;
}
.main-dashboard .content-col .box1 .content-f table .barang-bar .barang-satuan input{
    width: 30%;
    height: 40px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #fff;
    margin-bottom: 20px;
    color: #127C70;
    font-family: "poppins";
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
}
::-webkit-calendar-picker-indicator{
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
    margin-right: 30px;
}
@media only screen and (max-width: 480px) {
    .main-dashboard .profile{
        display: none;
    }
    .main-dashboard .content-col .box1 {
        scale: 0.37;
        margin-left: -383px;
        margin-top: -556px;
    }
}