.home{
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 100vh;
    background: #3ACCB6;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    padding-bottom: 150px;
}
.home .profile-info{
    display: flex;
    width: 90%;
    height: 105vh;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 20px;
    background: #127C70;
    margin-top: 120px;
    margin-left: 110px;
    padding-left: 50px;
    padding-top: 100px;
    
}
.home .profile-info .field{
    display: flex;
    flex-direction: column;
}
.home .profile-info h1{
    color: #FFF;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    letter-spacing: -0.48px;
    margin-top: 30px;
    padding-left: 37px;
}
.home .profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 360px;
    position: absolute;
    margin-left: 921px;
    margin-top: 862px;
}
.home .profile-info form{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 10px;
    width: 100%;
}
.home .profile-info form label{
    color: #F9BA0D;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    margin-bottom: 15px;
    margin-left: 38px;
    width: 230px;
}
.home .profile-info form .u-profile{
    display: flex;
    flex: row;
}
.home .profile-info form .u-profile .file{
    width: 1330px;
}

.home .profile-info form .u-profile button{
    display: flex;
    width: 239px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 30px;    
    padding: 10px 8px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #D30ED8;
    color: #FFF;
    text-align: center;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 14px */
    letter-spacing: -0.28px;
    border: none;
    cursor: pointer;
    margin-left: 30px;
    margin-top: -3px;
}
.home .profile-info form input{
    display: flex;
    width: 90%;
    height: 5vh;
    flex-shrink: 0;
    border-radius: 16px;
    background: #ffffff;
    margin-bottom: 20px;
    color: #2FC4B1;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.24px;
    padding-left: 35px;
    margin-left: 35px;
}
.home .asset {
    position: absolute;
    background: url(/src/assets/Asset-1.png) rgb(255, 255, 255, 0) 0% / cover no-repeat;
    width: 50%;
    max-width: 697px;
    height: 100vh;
    background-size: contain;
    background-position: center right;
    transition: all 0.4s ease-in-out;
    margin-left: 1180px;
}
.home .asset:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 480px) {
    .home{
        width: 616px;
        flex-direction: column;
        align-items: center;
    }
    .home .asset{
        margin-top: -228px;
        scale: 0.23;
        margin-left: 155px;    
    }
    .home .profile-info {
        scale: 0.27;
        margin-left: -135px;
        margin-top: -504px;
    }
    .home .profile-pic{
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 360px;
        position: absolute;
        margin-left: -138px;
        margin-top: 294px;    
    }    
}