.login {
    background: #127c70;
}
.font-set {
    color: #fff;
    line-height: 1.5;
    font-weight: 400;
}
.font-header {
    font-weight: 700;
    font-size: 2.6rem;
}
.login-href{
    color: #fff;
    transition: color 0.3s ease;
}
.login-href:hover {
    color: #f9ba0d;
    transition: color 0.3s ease;
}
.btn-login{
    font-size: 1.5rem;
    border: none;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 1rem;
    background: #f9ba0d;
    color: #fff;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.bg-login-logo {
    background-image: url('../../assets/Asset-6_web.webp');
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10rem;
}
.logo-col{
    display: relative;
}
.logo-bg{
    width: 39rem;
    height: 39rem;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    width: 38rem;
    height: 38rem;
    background-image: url('../../assets/simanteb-logo_web.webp');
    background-size: cover;
    background-position: center;
}
@media only screen and (max-width: 480px) {
    .logo-col{
        display: none;
    }
}