.menu-card{
    width: 520px;              /* Tambahkan ini */
    height: 635px;  
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 40px;
    background: #127C70;
    padding-bottom: 50px;
    padding-right: 60px;
    transition: all 1.1s ease-in-out;
}
.bg-green-menu{
    background: #127C70;
}
.menu-pic{
    width: auto;
    height: 384px;
    flex-shrink: 0;
    border-radius: 18px;
    margin-left: 25px;
    margin-top: 20px;
    margin-right: 25px;
}
.menu-h3{
    flex-shrink: 0;
    color: #fff;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -1.26px;
}
.menu-button{
    flex-shrink: 0;
    background: #f9ba0d;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -.5px;
    border-radius: 20px;
    border: 0px;
    transition: all .4s ease-in-out;
    margin-left: 6px;
    cursor: pointer;
    margin-top: 22px;
}
.menu {
    display: flex;
}
@media only screen and (max-width: 480px) {
    .menu {
        display: flex;
        width: 100px;
        height: 150px;
        background: transparent;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .menu-card {
        display: flex;
        width: 85px;
        height: 85px;
        flex-direction: column;
        gap: 20px;
        border-radius: 360px;
        margin-top: 10px;
        align-items: center;
    }
    .menu-pic {
        width: 85px;
        height: 85px;
        border-radius: 360px;
        margin-top: -23.5px;        
    }
    .menu-h3 {
        font-size: 20px;
        margin-top: -15px;
        white-space: nowrap;
    }
    .text-white{
        display: none;
    }
    .menu-button{
        display: none;
    }
}
@media only screen and (max-width: 375px) {
    .menu {
        display: flex;
        width: 75px;
        height: 100px;
        background: transparent;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    .menu-card {
        display: flex;
        width: 65px;
        height: 65px;
        flex-direction: column;
        gap: 20px;
        border-radius: 360px;
        margin-top: 10px;
        align-items: center;
        background: transparent;
    }
    .menu-pic {
        width: 65px;
        height: 65px;
        border-radius: 360px;
        margin-top: -23.5px;        
    }
    .menu-h3 {
        font-size: 17px;
        margin-top: -15px;
        white-space: nowrap;
    }
    .text-white{
        display: none;
    }
    .menu-button{
        display: none;
    }
}