.sidebar{
    display: flex;
    height: 1152px;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
}
.sidebar .sidebar-col{
    width: auto;
    height: 1152px;
    flex-shrink: 0;
    background: #000B48;
}
.sidebar .sidebar-col .logo-col{
    display: flex;
    flex-direction: row;
    width: 240px;
    height: 99px;
    flex-shrink: 0;
}
.sidebar .sidebar-col .logo-col .logo{
    width: 99px;
    height: 99px;
    flex-shrink: 0;
    background: url(../../assets/simanteb-logo.png) rgb(255, 255, 255, 0) 50% / cover no-repeat;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.sidebar .sidebar-col .logo-col .logo:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    transition: all 0.4s ease-in-out;
}
.sidebar .sidebar-col .logo-col h2{
    width: 141px;
    height: 27.773px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%; /* 26px */
    margin-top: 35px;
    cursor: pointer;
}
.sidebar .sidebar-col .separator{
    margin-top: 10px;
    width: 290px;
    height: 2px;
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.10);
}
.sidebar .sidebar-col .selected{
    display: flex;
    flex-direction: column;
    width: auto;
    height: 260px;
    flex-shrink: 0;
    margin-top: 20px;
    gap: 10px;
}
.sidebar .sidebar-col .selected .list {
    display: flex;
    flex-direction: row;
    width: 269px;
    height: 36px;
    flex-shrink: 0;
    gap: 10px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    padding-left: 20px;
}
.sidebar .sidebar-col .selected .list:hover{
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}
.sidebar .sidebar-col .selected .list p {
    color: #FFF;
    font-family: "poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 187.5% */
    letter-spacing: -0.32px;
    text-decoration: none;
    width: auto;
    transition: all 0.5s ease-in-out;
}
.sidebar .sidebar-col .selected .list svg {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}
/* @media only screen and (max-width: 480px) {
    .sidebar .sidebar-col{
        background: none;
        position: absolute;
    }
    .sidebar .sidebar-col .selected{
        display: none;    
    }
    .sidebar .sidebar-col .separator{
        display: none;
    }
    .sidebar .sidebar-col .logo-col .logo{
        width: 30px;
        height: 30px;        flex-shrink: 0;
        background: url(../../assets/menu.svg) rgb(255, 255, 255, 0) 50% / cover no-repeat;
        transition: all 0.4s ease-in-out;
        cursor: pointer;
        padding-left: 10px;
        margin-top: 15px;
        margin-left: 20px;
    }
    .sidebar .sidebar-col .logo-col h2{
        display: none;
    }
} */