.menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 1684px;
    height: 750px;
    gap: 50px;
    flex-shrink: 0;
    background: #000E60;
    margin-top: 163px;
    padding-left: 110px;
    padding-right: 20px;
    padding-top: 100px;
    margin-bottom: 800px;
}
.menu .menu-disp{
    display: flex;
    flex-direction: column;
}
.menu .menu-disp .card{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 40px;
    background: #000B48;
    padding-bottom: 50px;
    padding-right: 60px;
    transform: translateY(110px);
    transition: all 1.1s ease-in-out;
}
.menu .menu-disp:hover .card{
    transform: translateY(0px);
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 0%;
    transition: all 1.1s ease-in-out;
}
.menu .menu-disp .card .pic{
    width: auto;
    height: 384px;
    flex-shrink: 0;
    border-radius: 18px;
    margin-left: 70px;
    margin-top: 52px;
}
.menu .menu-disp .notif-col{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    flex-shrink: 0;
    border-radius: 40px;
    background: #000B48;
    padding-bottom: 50px;
    padding-right: 60px;
    transform: translateY(-123px);
    opacity: 0;
    transition: all 1.1s ease-in-out;
    visibility: none;
    padding-left: 77px;
}
.menu .menu-disp:hover .notif-col{
    opacity: 1;
    transform: translateY(0px);
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    visibility: visible;
    transition: all 1.1s ease-in-out;
}
.menu .menu-disp .notif-col .pic{
    width: 50px;
    height: 50px;
    border-radius: 360px;
    display: flex;
    align-items: center;
    /* align-content: flex-start; */
    flex-direction: row;
    justify-content: space-around;
    margin-left: 156px;
}
.menu .menu-disp .notif-col h3{
    width: auto;
    height: auto;
    flex-shrink: 0;
    color: #ccc;
    font-family: "poppins";
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 8px;
    letter-spacing: 0.6px;
    margin-top: 13px;
    margin-left: 42px;
}
.menu .menu-disp .notif-col .notification-list{
    display: flex;
    flex-direction: row;
}
.menu .menu-disp .notif-col .notification-list .notification-sub{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
    align-items: center;
    padding-left: 106px;
}
.menu .menu-disp .notif-col .notification-list .notification-sub p{
    width: auto;
    height: auto;
    flex-shrink: 0;
    color: #ccc;
    font-family: "poppins";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.6px;
    margin-left: 4px;
    white-space: pre-wrap;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .switch-button{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 20px;
    justify-content: space-around;
    margin-left: -105px;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .switch-simak{
    width: auto;
    height: 19px;    
    flex-shrink: 0;
    background: #7551FF;
    color: #FFF;
    text-align: center;
    font-family: "poppins";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 96% */
    letter-spacing: -0.5px;
    border-radius: 20px;
    border: 0px;
    transition: all 0.4s ease-in-out;
    margin-left: 6px;
    cursor: pointer;
    margin-top: 22px;
    padding-bottom: 23px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: -58px;    
}
.menu .menu-disp .notif-col .notification-list .notification-sub .pic{
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 360px;
    margin-left: -120px;
    margin-top: 0;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .info{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .info .bullet{
    position: absolute;
    width: 13px;
    height: 13px;
    background: red;
    border-radius: 50px;
    left: 100px;
    top: 128px;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .info .button{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .info .button .mark-read{
    width: 142px;
    height: 38px;
    flex-shrink: 0;
    background: #7551FF;
    color: #FFF;
    text-align: center;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 96% */
    letter-spacing: -0.5px;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .info .button .mark-read:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .info .button .buka{
    width: 100px;
    height: 38px;
    flex-shrink: 0;
    background: #7551FF;
    color: #FFF;
    text-align: center;
    font-family: "poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 96% */
    letter-spacing: -0.5px;
    border-radius: 20px;
    border: 0px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .info .button .buka:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .info h3{
    width: auto;
    height: auto;
    flex-shrink: 0;
    color: #ccc;
    font-family: "poppins";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.6px;
    margin-left: 4px;
    white-space: pre-wrap;
}
.menu .menu-disp .notif-col .notification-list .notification-sub .info .line{
    width: 100px;
    height: 5px;
    background: #FFF;
}
.menu .menu-disp .card .text{
    width: 398.5px;
    height: 157px;
    flex-shrink: 0;
    margin-left: 70px;
    margin-top: 10px;
}
.menu .menu-disp .card .text h3{
    overflow-y: hidden;
    width: 386px;
    height: 49px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "poppins";
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    letter-spacing: -1.26px;
    /* top: auto; */
    /* align-items: center; */
}
.menu .menu-disp .card .text h5{
    width: 398px;
    height: 46.5px;
    flex-shrink: 0;
    color: #A3AED0;
    font-family: "poppins";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 100% */
    letter-spacing: 0.6px;
    margin-top: 13px;
}
.menu .menu-disp .card .text button{
    width: 152px;
    height: 38px;
    flex-shrink: 0;
    background: #7551FF;
    color: #FFF;
    text-align: center;
    font-family: "poppins";
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 96% */
    letter-spacing: -0.5px;
    border-radius: 20px;
    border: 0px;
    transition: all 0.4s ease-in-out;
    margin-left: 6px;
    cursor: pointer;
    margin-top: 22px;
}
.menu .menu-disp .card .text button:hover{
    transform: scale(1.1);
    transition: all 0.4s ease-in-out;
}
@media only screen and (max-width: 480px) {
    .menu{
        display: flex;
        scale: 0.6;
        margin-top: 36px;
        margin-right: 178px;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}