*{
    margin: 0px;
    padding: 0px;
    
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    display: none;
}